* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ECEFF1;
}

body {
    position: relative;
    width: 100%;
}

.content{
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.content .title {
    padding-top: 50px;
    margin-bottom: 50px;
}

.content .title .texts h1{
    font-size: 50px;
    font-weight: 200;
    text-align: center;
}

.content .title .texts hr{
    width: 80%;
    height: 4px;
    background-color: black;
    border: none;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.content .title .texts p{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.content .title .buttons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.content .title .buttons img{
    width: 30%;
    height: 40px;
    object-fit: scale-down;
    margin-top: 30px;
}

.content .title .buttons .Boton{
    text-decoration: none;
    color: #fff;
    background-color: #0d6efd;
}


.content .title .buttons > button{
    width: 40%;
    height: 40px;
    background: #0d6efd;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 33.3%;
    margin-right: 50px;
}

.content .images{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content .images img{
    width: calc(20% - 10px);
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 80px;
    margin-left: 80px;
}

@media only screen and (max-width: 900px){
    .content .images img{
        width: 50%;
        margin: 10px;
        object-fit: cover;
        border-radius: 10px;
        cursor: pointer;
     margin-right: 25px;
    }
}
